.App {
    text-align: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    background-color: rgb(30, 32, 30);

    align-items: center;

    color: rgb(236, 223, 204);
    padding-left: 20px;
    flex-shrink: 0;
}

main {
    flex: 1;
    width: 100%;
    background-color: rgb(60, 61, 55);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leading {
    padding-right: 10px;
}

.number-container {
    width: 150px;
    height: 150px;
    background-color: rgb(61, 100, 58);
    border-radius: 10px;
    /* margin-top: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.number {
    font-size: 40px;
}